.rbc-header + .rbc-header , .rbc-week-row, .rbc-time-header > .rbc-row > * + * , .rbc-day-bg + .rbc-day-bg
, .rbc-time-header > .rbc-row:first-child, .rbc-time-view , .rbc-time-content, .rbc-time-header.rbc-overflowing{
    border:none !important;
}

.rbc-time-column .rbc-timeslot-group , .rbc-label.rbc-header-gutter{
    display: none;
}

.rbc-toolbar .rbc-btn-group{
    display: none;
}

.rbc-toolbar .rbc-btn-group:first-child{
    display: inline-block;
}

.rbc-event{
    padding: 0px;
}

.eventWrape{
    padding: 5px;
    background: #fff;
}
.rbc-calendar{
    min-width: 767px;
    display: block;
}
.calanderWrape{
    overflow-x: auto;
        padding-bottom: 100px;
}

.rbc-header {
    padding-bottom: 40px;
}

.rbc-header a:hover {
    text-decoration: none;
    color: #222;
    cursor: default;
}

.rbc-header span{
    color: #BDBDBD !important;
}
.rbc-header.rbc-today , .rbc-day-bg.rbc-today{
    background: #fff;
}

.rbc-header.rbc-today span{
    color: #000 !important;
}

.rbc-event-content {
    margin-bottom: 5px;
}