.appMenu{
  width: 320px !important;
  overflow-x:hidden !important;
}

.topBarTitleColor{
color:black !important;
}

.topBarTitleColorWhite{
color:white !important;
font-weight: 100 !important;
}



@media (max-width: 767px){

.borderStyle{
  box-shadow:none !important;
  border-radius: 0 !important;
  border-bottom:1px solid #eee !important;
  border-top: 1px solid #eee !important;
}

.appBar{
  height:50px !important;
}

.appDrawer div{
      overflow-x: hidden !important;
}

.noDisplayOnLow{
  display: none !important;
}

.topBarTitleColor{
color:white !important;
}
}
.displayNone{
  display: none;
}
.fl{
  float:left
}
.fr{
  float:right;
}
.pr20{
  padding-right: 20px;
}
.p0{
  padding: 0 !important;
}
.mr20{
  margin-right: 20px;
}
.mr30{
  margin-right: 30px;
}
.mb20{
  margin-bottom: 20px;
}
.mb10{
  margin-bottom: 10px;
}
.taligncenter{
  text-align:center;
}
.stepContent{
  margin-left:13px !important;
}
.transparentIconBtn{
  background: transparent;
}
.transparentIconBtn span{
  padding:0 !important;
}
.transparentIconBtn:hover{
  background: transparent !important;
}
.transparentIconBtnWhite{
  background: transparent;
}
.transparentIconBtnWhite span{
  padding:0 !important;
  color: white;
}
.transparentIconBtnWhite:hover{
  background: transparent !important;
}



/* ------------ Questions Section -----------*/

.questionPaddedBox{
  padding: 15px;
  border: 1px solid rgb(118, 118, 118);
  position: relative;
}
.QuestionAccordionChevron{
  position: absolute !important;
  right: 20px;
  top: 10px;
}
.QuestionAccordionChevron div{
  display: inline;
}
.questionSectionHeading{
  width:80%;
}
.addQuestionTitle{
  padding-right:100px;
}

/*------------------User Module---------------*/
.UserEditTextField{
margin-left:10px;
}

.CreateNewUserLink{
  display: inline-block;
  vertical-align: middle;
}
.floatingUserAddBtn a{
  color: rgb(120, 143, 201);
  background-color: rgb(120, 143, 201) !important;
 
}
.floatingUserAddBtn{
  vertical-align: middle;
}
@media only screen and (min-width: 767px) and (max-width: 1024px){
  .CreateNewUserLink{
    display: block;
  }
  .floatingUserAddBtn{
    margin-top: 90px;
  }
}
.userProfileImage{
  float:left;
  border-radius: 50%;
  margin: 20px 0 0 20px;
  display: block !important;
}
.UserEditForm{
  display: inline-block;
  min-height: 248px;
  max-height: 248px;
}
.UserEditInputField{
  padding: 0 0 0 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
  .userProfileImage{
   float:none;
   margin-bottom: 20px;
    padding: 20px 0 0 0;
  }
  .UserEditForm{
    display: block;
  }
  .UserEditInputField{
    padding: 0 20px;
  }
}
@media only screen and (max-width: 420px){
  .UserEditForm{
    display: block;
  }
  .UserEditInputField{
    padding: 0 20px;
  }
  .userProfileImage{
    float:none;
  }
}
.userInnerCardWrap{
  height: 218px !important;
}
.innerCardLast{
  padding: 127px 13px;
}
.userCardWrap{
  min-height: 283px !important;
}
.userInnerBoxShadow{
  box-shadow: rgba(97, 97, 97, 0.3) 0px 1px 1px 1px;
}
@media only screen and (max-width: 767px){
  .userInnerCardWrap{
    height: auto !important;
  }
  .innerCardLast{
    padding: 20px 13px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px){
  .innerCardLast{
    padding: 15px 13px;
  }
  .userCardWrap{
    width:50% !important;

  }

}
/*---------Organization Section----------------------*/
.OrganizationNameCnt{
  margin: 0 20px;
}
.OrganizationNameCnt span{
  font-size: 14px;
  color: #BDBDBD;
  line-height: normal;
}
.RiskNameHeading{
  display: inline-block;
  width: 70%;
}
.ActionItemsSubHeading{
  min-height: 40px;
}
.ActionItemsSubHeading span{
  font-size: 15px;
  color: rgb(118, 118, 118);
 
  position: relative;
  line-height: 18px;
}
@media (max-width: 520px){
.ActionItemsSubHeading{
  font-size: 16;
  line-height: 20px;
}
}
.confirmedItemTitle span{
  font-size: 20px;
}
.UserAddEditForm{
  min-height: 247px;
  /* max-height: 247px; */
}
.createNewUserLinkCnt{
  min-height: 283px;
}
.userDetailsHeading{
  width:240px;
}
@media only screen and (max-width: 767px){
 
  .createNewUserLinkCnt{
    min-height: auto;
  }
  .userCardWrap{
    min-height: auto !important;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px){
  
}

.RiskChartImage{
  width:801px;
  height:416px;
}