#reportTable{
  overflow-x: auto;
}
#measurementsDataTable{
  min-width: 550px;

}
#measurementsDataTable tr,
#measurementsDataTable td {
  border: 1px solid #222;
}
#measurementsDataTable td {
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

#measurementsDataTable td ol {
  padding-left: 15px;
}

#measurementsDataTable .outterTD {
  border: none;
}
#measurementsDataTable th {
  background: #788fc9;
  padding: 5px;
  border: 1px solid #222;
  color: #fff;
  font-weight: 100;
}
#pdfReportLink span {
  display: none;
}
