input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

@media (max-width: 520px){
    .panelTabs{
        font-size: 12px !important;
    }
}

@media (max-width: 420px){
    .panelTabs{
        font-size: 11px !important;
    }
}